/* Ustawienia ogólne */
body {
	/* Tło */
	background: #262626;

	/* Czcionki */
	font-family: 'Courier New', Courier, monospace;
	color: #fafafa;
}

/* Winieta (ten czarny cień) */
.vignette {
	box-shadow: inset 0 0 100px #000;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
}

/* Linki */
a:link, a:visited {
	color: #f6ff00;
	text-decoration: none;
}
a:hover, a:active {
	color: #00bbff;
	text-decoration: none;
}

/* Podkreślenie */
.emph {
	color: #f6ff00;
	text-decoration: underline;
}

/* Nagłówek */
#header {
	border: dashed 2px white;
	padding: 10px;
	padding-top: 5px;
	margin: 0;
}
#header * {
	margin: 0;
}

/* pixel art */
.pixelart {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

/* Stopka */
footer {
	background: #262626;
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	border-top: dashed 2px gray;
	/* background: #00bbff; */
	padding: 0;
	padding-left: 5px;
}
.footer-section {
	margin: 0;
	padding: 0;
	padding-right: 5px;
	border-right: dashed 2px gray;
	display: inline-block;
}
.footer-section * {
	margin: 0;
	margin-top: 5px;
	padding: 0;
	border: 0;
	font-size: 15px;
}

/* adjustowanie przed stopką by zrobić na nią miejsce */
#adjust {
	height: 30px;
}